<!DOCTYPE html>

<html>

<%- include('./layout/headTag'); %>

    <body>
        
        <div id="mainDiv">

            <%- include('./layout/header'); %>

            <main>

                <h1 style="text-align: center;">Welcome to my home page</h1>

            </main>

            <%- include('./layout/footer'); %>

        </div>

    </body>

</html>