<!DOCTYPE html>

<html>

<%- include('./layout/headTag'); %>

    <body>
        
        <div id="mainDiv">

            <%- include('./layout/header'); %>

            <main>

                <h4><a href="/auth/google">Login with google</a></h4>

            </main>

            <%- include('./layout/footer'); %>

        </div>

    </body>

</html>