<!DOCTYPE html>

<html>

<%- include('./layout/headTag'); %>

    <body>
        
        <div id="mainDiv">

            <%- include('./layout/header'); %>

            <main>

                <form action="/login" method="post">

                    <div>

                        <h2>Login </h2>

                    </div>

                    <div>

                        <label for="username">Enter your username : </label> 
                        <input type="email" name="username" id="username">

                    </div>

                    <div>

                        <label for="password">Enter Your password</label> 
                        <input type="password" name="password" id="password">

                    </div>

                    <div>
                        <button type="submit">Login</button>
                    </div>

                </form>

            </main>

            <%- include('./layout/footer'); %>

        </div>

    </body>

</html>